.spinner{
  font-size: 140px;
  display: inline-block;  /* Target content element*/
  animation: spin 5s linear infinite; /* Constant spin animation*/
}
.spinner:after {
  content: '◌';
}

#chart {
  border: 1px solid black;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
